:root {
  --bluish: #a5b8ca;
  --bluray: #5e84b471; 
}

body {
  background-color: whitesmoke;
}

nav ul {
  display: flex;
  min-width: 300px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  background-color: var(--bluray);
}

header h1 {
  color:indigo;
  font-weight: bold;
  font-size: 24px;
}

.btnStart {
  border: 1;
  line-height: 2.5;
  padding: 0 10px;
  font-size: 14px;
  text-align: center;
  color: black;
  border-radius: 5px;
  background-color: var(--bluray);
}

.btnStart:hover {
  background-color: var(--bluish);
}

.timer {
  font-size: 16px;
  padding: 0 30px;
}


